<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- CSS files -->
    <link rel="stylesheet" href="/css/estilos.min.css" />
  </head>
  <body class="anti aliased border-top-wide border-primary d-flex flex-column">
    <div class="flex-fill d-flex align-items-center justify-content-center">
      <div class="container-tight">
        <div class="empty">
          <div class="empty-header">FIN</div>
          <p class="empty-title">Se ha cerrado la sesión</p>
          <p class="empty-subtitle text-muted">
            cierre las ventanas del explorador
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
