<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- CSS files -->
    <link rel="stylesheet" href="/css/estilos.css" />
  </head>
  <body class="antialiased border-top-wide border-primary d-flex flex-column">
    <div class="flex-fill d-flex flex-column justify-content-center py-4">
      <div class="container-tight py-6">
        <div class="text-center mb-4">
          <a href="."
            ><img src="/img/logoFormularios.png" height="36" alt=""
          /></a>
        </div>
        <% if(typeof alerts !='undefined' ) { %> <% alerts.map(function (alert)
        { %>
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <%- alert.msg %>
        </div>
        <% }) %> <% } %>
        <form
          action="/log/registro"
          method="POST"
          class="card card-md"
          autocomplete="off"
        >
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Registro de usuario</h2>
            <div class="mb-3">
              <label class="label-form">UserID</label>
              <input
                type="text"
                class="form-control"
                name="userid"
                onkeyup="this.value = this.value.toLowerCase();"
                value="<%- datos.userid %>"
              />
            </div>
            <div class="mb-2">
              <label class="label-form">Nombre</label>
              <input
                type="text"
                class="form-control"
                name="nomusu"
                onkeyup="this.value = this.value.toUpperCase();"
                value="<%- datos.nomusu %>"
              />
            </div>
            <div class="mb-2">
              <label class="label-form">Correo electrónico</label>
              <input
                type="text"
                class="form-control"
                name="emausu"
                value="<%- datos.emausu %>"
              />
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">
                Crear nueva cuenta
              </button>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
          Ya estoy registrado
          <a href="/log/login">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </body>
</html>
