<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tipo Formulario</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    <!-- custom -->
    <link rel="stylesheet" href="/css/estilos.min.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <style>
      .subtitulo {
        position: absolute;
        top: 1.5rem;
        color: #656d77;
        pointer-events: none;
        font-size: 0.8em;
      }
    </style>
  </head>

  <body class="antialiased">
    <div class="wrapper">
      <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand pe-0 pe-md-3">
            <a href="/">
              <img
                src="/img/logoFormularios.png"
                width="110"
                height="32"
                alt="AYUDA"
                class="navbar-brand-image"
              />
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item dropdown d-none d-md-flex me-3">
              <a
                href="#"
                class="nav-link px-0"
                data-bs-toggle="dropdown"
                tabindex="-1"
                aria-label="Show notifications"
              >
                <i
                  class="bi bi-bell"
                  style="font-size: 1.1rem; color: cornflowerblue"
                ></i>
                <span class="badge bg-white"></span>
                <span id="toggleBadge" class="badge badge-pill bg-red d-none"
                  >!</span
                >
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                <div class="card">
                  <div class="card-body">
                    <ul id="messages" style="list-style: none"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link d-flex lh-1 text-reset p-0"
                data-bs-toggle="dropdown"
                aria-label="Open user menu"
              >
                <div class="d-none d-xl-block">
                  <span class="avatar avatar-sm avatar-rounded"
                    ><h5><%- user.userID %></h5></span
                  >
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a
                  href="/admin/perfil/<%- user.userID %>"
                  class="dropdown-item"
                >
                  <i class="bi bi-pencil dropdown-item-icon"></i>Perfil de
                  usuario
                </a>
                <div class="dropdown-divider"></div>
                <a href="/log/logout" class="dropdown-item"
                  ><i class="bi bi-box-arrow-in-right dropdown-item-icon"></i
                  >Finalizar sesión</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>

      <%- include('../../../partials/navbar.ejs') %>

      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <% if(typeof alerts !='undefined') { %> 
                    <% alerts.map(function(alert) { %>
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%- alert.msg %>
                      </div>
                    <% }) %>
                  <% } %>
                  <form action="/admin/tipos/formularios/insert" method="POST" onsubmit="return validate();">
                    <div class="card-header">
                      <h3 class="card-title">Tipo Formulario</h3>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="mb-1">
                            <label class="form-label required">Descripción</label>
                            <input type="text" name="destip" id="destip" class="form-control" value="" style="text-transform: uppercase;" autofocus/>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="mb-1">
                            <label class="form-label required">Texto ayuda</label>
                            <textarea type="text" name="ayutip" id="ayutip" class="form-control" rows="3" style="resize: vertical"></textarea>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-end">
                      <div class="d-flex">
                        <a href="/admin/tipos/formularios" class="btn btn-link">Cancelar</a>
                        <button type="submit" class="btn btn-primary ms-auto" id="btnInsert">Crear nuevo tipo</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer footer-transparent d-print-none">
        <div class="container">
          <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
              Copyright &copy; 2022
              <a href="/" class="link-secondary">SIAC</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/js/ayuda.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const messages = document.getElementById("messages");
      const socket = io();

      socket.on("receive-message", (msg) => {
        const li = document.createElement("li");
        li.textContent = msg;
        messages.appendChild(li);

        const toggleBadge = document.querySelector("#toggleBadge");
        const numeroMensajes = messages.getElementsByTagName("li").length;
        if (numeroMensajes === 1) {
          toggleBadge.classList.toggle("d-none");
        }
      });
    </script>
    <script>
      const destip = document.getElementById("destip");

      const validate = () => {
        const destipValue = destip.value.trim();

        if (destipValue === "") {
          setError(destip, "Descripción requerida");
          return false;
        } else {
          setSuccess(destip);
        }

        return true;
      };

      const setSuccess = (element) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector(".invalid-feedback");

        errorDisplay.innerText = "";
        inputControl.classList.add("is-valid");
        element.classList.remove("is-invalid");
      };
      const setError = (element, message) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector(".invalid-feedback");

        errorDisplay.innerText = message;
        element.classList.add("is-invalid");
        inputControl.classList.remove("is-valid");
      };
    </script>
  </body>
</html>
