<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Fraude</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <!-- custom -->
    <link rel="stylesheet" href="/css/estilos.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
  </head>
  <body class="antialiased">
    <div class="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navbar', {opcion: 'INICIO'}) %>
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                      Fraude IRPF
                      <p class="text-muted">Página princial</p>
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>