.subnav {
    border-bottom: 1px solid #BBBBBB;
    padding-left: 30px;
    height: 24px;
    line-height: 0;
    margin-top: 30px;
    color: #151b26;
}

.subnav ul {
    list-style-type: none;
}

.nav-link {
    font-size: 13px;
    text-decoration: none;
    color: #848f99;
    padding-bottom: 20px;
    padding-right: 5px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    cursor: pointer;
}

.subnav .active {
    color: #008ce3;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #848f99;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 5px;
}

.nav-link-ltr:hover::before, a.active::before {
    width: 100%;
}

.subnav .active::before {
    background-color: #008ce3;
}

.navbar {
    padding-left: 10px !important;
}