<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Fraude</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <style>
    .dropdown-menu.msg_list {
      width: 30rem !important;
    }

    ul.msg_list li {
      /* background: #f7f7f7; */
      /* padding: 5px; */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 6px 6px 0;
      width: 96% !important; 
      background-color: rgba(27,125,241,.02);
    }

    ul.msg_list li:last-child {
      margin-bottom: 6px;
      /* padding: 10px;  */
    }

    /* ul.msg_list li a {
      padding: 3px 5px !important; } */

    ul.msg_list li a .image img {
      border-radius: 2px 2px 2px 2px;
      -webkit-border-radius: 2px 2px 2px 2px;
      float: left;
      margin-right: 10px;
      width: 11%; }

    ul.msg_list li a .time {
      font-size: 9px;
      font-style: italic;
      font-weight: bold;
      position: absolute;
      right: 35px; }

    ul.msg_list li a .message {
      display: block !important;
      font-size: 11px; 
    }
  </style>
</head>
<body class="antialiased">
  <div class="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navbar', {opcion: 'INICIO'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-12 col-lg-auto mt-3 mt-lg-0">
              <h1>Fraude IRPF</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.on('server:loadnotes', notes => {
      notes.forEach(element => {        
        let ele = document.createElement('li')
        let elea = document.createElement('a')

        elea.classList.add('dropdown-item')
        elea.innerHTML = `<div class="d-flex flex-column justify-content-center">
          <h4 class="text-sm font-weight-normal mb-1">
            <span class="font-weight-bold">${element}</span>
          </h4>
          <small class="time mb-0">
            <i class="bi bi-clock"></i>
            1 minuto
          </small>
        `
        ele.classList.add('nav-item')
        ele.appendChild(elea)
        messages.appendChild(ele)
      });

      const toggleBadge = document.querySelector('.badge');
      const numeroMensajes = messages.getElementsByTagName("li").length
      if (numeroMensajes === 0) {
        toggleBadge.classList.toggle('d-none')
      }
    })
    socket.on('server:newnote', msg => {
      const li = document.createElement('li')
      li.textContent = msg
      messages.appendChild(li)
    })
  </script>
</body>
</html>