<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Fraude</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <style>
    .dropdown-menu.msg_list {
      width: 30rem !important;
    }

    ul.msg_list li {
      /* background: #f7f7f7; */
      /* padding: 5px; */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 6px 6px 0;
      width: 96% !important; 
      background-color: rgba(27,125,241,.02);
    }

    ul.msg_list li:last-child {
      margin-bottom: 6px;
      /* padding: 10px;  */
    }

    /* ul.msg_list li a {
      padding: 3px 5px !important; } */

    ul.msg_list li a .image img {
      border-radius: 2px 2px 2px 2px;
      -webkit-border-radius: 2px 2px 2px 2px;
      float: left;
      margin-right: 10px;
      width: 11%; }

    ul.msg_list li a .time {
      font-size: 9px;
      font-style: italic;
      font-weight: bold;
      position: absolute;
      right: 35px; }

    ul.msg_list li a .message {
      display: block !important;
      font-size: 11px; 
    }
  </style>
</head>
<body class="antialiased">
  <div class="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navbar', {opcion: 'INICIO'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-12 col-lg-auto mt-3 mt-lg-0">
              <h1>Fraude IRPF</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.emit('client:addUser', {
      userID:<%- JSON.stringify(user.userID) %>,
    })
    socket.on('server:users', (users) => {
      console.log('Usuarios activos', users)
    })
    socket.on('server:loadNotes', (notes) => {
      messages.innerHTML = ''
      notes.forEach(element => {        
        let ele = document.createElement('li')
        let elea = document.createElement('a')

        elea.classList.add('dropdown-item')
        elea.innerHTML = `<div class="d-flex flex-column justify-content-center">
          <h4 class="text-sm font-weight-normal mb-1">
            <span class="font-weight-bold">${element.message}</span>
          </h4>
          <p>
          <small class="time mb-0">
            <i class="bi bi-clock"></i>
            ${element.fecha}
          </small>
          </p>
        `
        ele.classList.add('nav-item')
        ele.appendChild(elea)
        messages.appendChild(ele)
      });

      if (messages.getElementsByTagName("li").length > 0) {
        document.querySelector('.badge').classList.remove('bg-white')
        document.querySelector('.badge').classList.add('bg-red')        
      } else {
        document.querySelector('.badge').classList.remove('bg-red')
        document.querySelector('.badge').classList.add('bg-white')
      }
    })
    socket.on('server:newNote', (note) => {
      let ele = document.createElement('li')
      let elea = document.createElement('a')

      elea.classList.add('dropdown-item')
      elea.innerHTML = `<div class="d-flex flex-column justify-content-center">
        <h4 class="text-sm font-weight-normal mb-1">
          <span class="font-weight-bold">${note.message}</span>
        </h4>
        <p>
        <small class="time mb-0">
          <i class="bi bi-clock"></i>
          ${note.fecha}
        </small>
        </p>
      `
      ele.classList.add('nav-item')
      ele.appendChild(elea)
      messages.appendChild(ele)

      if (messages.getElementsByTagName("li").length > 0) {
        document.querySelector('.badge').classList.remove('bg-white')
        document.querySelector('.badge').classList.add('bg-red')        
      } else {
        document.querySelector('.badge').classList.remove('bg-red')
        document.querySelector('.badge').classList.add('bg-white')
      }        
    })
  </script>
  <script>
    function checkItem(elem) {
        document.querySelector('.badge').classList.remove('bg-red')
        document.querySelector('.badge').classList.add('bg-white')
    }
  </script>
</body>
</html>