<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calendario</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="anti aliased border-top-wide border-primary d-flex flex-column">
  <div class="flex-fill d-flex align-items-center justify-content-center">
    <div class="container-tight">
      <div class="empty">
        <div class="empty-header text-green">Correcto</div>
        <p class="empty-title">Se han actualizado todos los estados</p>
        <div class="empty-action">
          <div class="empty-action">
            <a href="<%- datos.url %>" class="btn btn-primary">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>